In [71]:
import pandas as pd
import numpy as np
#from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

In [72]:
# The competition datafiles are in the directory ../input
# Read competition data files:
dataset = pd.read_csv("~/Desktop/knn/input/train.csv")

In [73]:
label = dataset.values[:,0]

In [74]:
traindata = dataset.values[:,1:]

In [75]:
testdata  = pd.read_csv("~/Desktop/knn/input/test.csv").values

In [76]:
# 确定所用的机器学习的方法
clf = MultinomialNB()

In [77]:
# 把训练集交给该方法训练
clf.fit(traindata, label)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [78]:
# 预测数据
#print(clf.predict(testdata))
results=clf.predict(testdata)

In [82]:
pd.DataFrame({"ImageId": list(range(1,len(test)+1)),"Label": results}).to_csv('~/Desktop/knn/output/Digit_recogniser.csv', index=False,header=True)

In [83]:
df

       image,Label
1                2
2                0
3                9
4                4
5                2
6                7
7                0
8                3
9                0
10               3
11               5
12               7
13               4
14               0
15               4
16               3
17               3
18               1
19               9
20               0
21               9
22               1
23               8
24               5
25               7
26               9
27               2
28               7
29               7
30               7
...            ...
27971            5
27972            0
27973            4
27974            8
27975            0
27976            3
27977            6
27978            0
27979            1
27980            8
27981            3
27982            1
27983            8
27984            0
27985            4
27986            5
27987            2
27988            2
27989            8
27990            6
27991            7
27992            6
27993            1
27994            9
27995            7
27996            9
27997            7
27998            3
27999            9
28000            2

[28000 rows x 1 columns]